<h2> Creating a product </h2>

<form method='post' action='/products' >
  <label> Name: </label>
  <input name="product[name]" size="30" type="text" ><br>
  <label> Price: </label> 
  <input name="product[price]" size="30" type="number" ><br>
  <input type="submit" value="Create product" > 
</form>
